{% extends 'main/base.html' %}

{% load static %}


{% block title %}Login | Tastech{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}"> <!-- Подключение login.css -->
</head>
<h2>Login</h2>
<form method="post" class="form" autocomplete="off">
    {% csrf_token %}
    <div class="form-group"> <!-- Добавляем класс form-group -->
        <label for="id_username">Username:</label>
        <input type="text" name="username" id="id_username">
    </div>
    <div class="form-group"> <!-- Добавляем класс form-group -->
        <label for="id_password">Password:</label>
        <input type="password" name="password" id="id_password">
    </div>
    <button class="login-button">Login</button>
</form>
<p class="P">Don't have an account? <a href="{% url 'signup' %}">Register</a></p>
{% endblock %}
