{% extends 'main/base.html' %}
{% load static %}

{% block title %}Home | Tastech{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}"> <!-- Подключение login.css -->
</head>
<h2>Welcome to Tastech!</h2>
{% if request.user.is_authenticated %}
    <p class="logged-in-user">You are logged in as: {{ request.user.username }}</p>
    <button class="profile_button" onclick="location.href='{% url 'profile' %}'">Profile</button><br>
    <br>
    <a href="{% url 'menu' %}">Menu</a><br>
    <br>
    <a href="{% url 'inventory' %}">Inventory</a><br>
    <br>
    <a href="{% url 'purchase' %}">Purchase Snack</a><br>
    <br>
    <a href="{% url 'purchase_menu' %}">Purchase a dish from the Menu</a><br>
    <br>
{% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}
