{% extends 'main/base.html' %}

{% block title %}Home | Tastech{% endblock %}

{% block content %}
<h2>Welcome to Tastech!</h2>
{% if request.user.is_authenticated %}
    <p>You are logged in as: {{ request.user.username }}</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <a href="{% url 'profile' %}">Profile</a><br>
    <a href="{% url 'menu' %}">Menu</a><br>
    <a href="{% url 'inventory' %}">Inventory</a><br>
    <a href="{% url 'buy' %}">Buy</a><br>
{% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}
