{% extends 'main/base.html' %}

{% block title %}
    Inventory | Tastech
{% endblock %}

{% block content %}
    <h2>INVENTORY</h2>
    <button type="submit"><a href="{% url 'index' %}">Go to Homepage</a></button>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
                <tr>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.quantity }}</td>
                    <td>${{ ingredient.price }}</td>
                    <td>
                        <a href="{% url 'delete_ingredient' ingredient.id %}">Delete</a> |
                        <a href="{% url 'edit_ingredient' ingredient.id %}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Add New Ingredient</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Ingredient</button>
    </form>
{% endblock %}
