{% extends 'main/base.html' %}

{% block title %}
    Menu | Tastech
{% endblock %}

{% block content %}
    <h2>Menu</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in menu_items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>${{ item.price }}</td>
                <td>
                    <a href="{% url 'confirm_delete_menu_item' item.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Add New Menu Item</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}


        <button type="submit">Add Item </button>
    </form>
    <br>
    <button type="submit"><a href="{% url 'index' %}">Go to Homepage</a></button>
{% endblock %}
