{% extends 'main/base.html' %}

{% block title %}
    Menu | Tastech
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
    <p class="logged-in-user">You are logged in as: {{ request.user.username }}</p>
    <h2>Menu</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in menu_items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>${{ item.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>
                    <a href="{% url 'confirm_delete_menu_item' item.id %}">Delete</a> |
                    <a href="{% url 'edit_menu_item' item.id %}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Add New Menu Item</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Item </button>
    </form>
    <br>
    <button class="go_to_homepage" onclick="location.href='{% url 'index' %}'">Go to Homepage</button>
{% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}
