
<form method="post">
    {% csrf_token %}
    <!-- Поля для добавления требования к рецепту -->
    {{ requirement_form.as_p }}

    <!-- Скрытое поле для передачи идентификатора блюда -->
    <input type="hidden" name="menu_item_id" value="{{ menu_item_id }}">

    <!-- Скрытое поле для указания на добавление требования -->
    <input type="hidden" name="add_requirement" value="1">

    <!-- Кнопка для отправки формы -->
    <button type="submit" name="add_requirement"><a href="{% url 'menu_form' %}?menu_item_id={{ menu_item.id }}">Добавить требование к рецепту</a></button><br>
    <br>
    <button type="submit"><a href="{% url 'menu' %}">Go to Menu</a></button>
</form>
