{% extends 'main/base.html' %}
{% load static %}
{% block title %}Profile | Tastech{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
    <p class="logged-in-user">You are logged in as: {{ request.user.username }}</p>
<head>
    <link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
</head>
    <p class="welcome-message">Welcome to Profile: {{ user_nickname }}!</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="logout-button">Logout</button>
    </form><br>
    <button class="go_to_homepage" onclick="location.href='{% url 'index' %}'">Go to Homepage</button>
    <br><a href="{% url 'purchase_history' %}" class="purchase-history-link">Purchase history</a><br>
    <button class="profile_button" onclick="location.href='{% url 'profile' %}'">Profile</button><br>
{% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}
