{% extends 'main/base.html' %}

{% block title %}Buy Ingredients | Tastech{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
    <p class="logged-in-user">You are logged in as: {{ request.user.username }}</p>
    <h2 class="h2-snack">Purchase Snack</h2>
    <button class="go_to_homepage" onclick="location.href='{% url 'index' %}'">Go to Homepage</button>
    <button class="profile_button" onclick="location.href='{% url 'profile' %}'">Profile</button><br>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="logout-button">Logout</button>
    </form><br>
    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Buy</button>
    </form>
{% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}

