<!-- Для страницы Sign Up -->
{% extends 'main/base.html' %}
{% load static %}

{% block title %}Sign Up | Tastetech{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'main/css/signup.css' %}"> <!-- Подключение login.css -->
</head>
<h2>Sign Up</h2>
<form method="post" class="form" autocomplete="off">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="signup-button">Sign Up</button> <!-- Добавляем класс signup-button -->
</form>
<p class="P">Already have an account? <a href="{% url 'login' %}">Login</a></p>
{% endblock %}
