{% extends 'main/base.html' %}

{% block title %}
    {{ menu_item.name }} Requirements | Tastech
{% endblock %}

{% block content %}
    <h2>{{ menu_item.name }} Requirements</h2>
    <ul>
        {% for requirement in requirements %}
            <li>
                <p>Ingredient: {{ requirement.ingredient }}</p>
                <p>Quantity: {{ requirement.quantity }}</p>
            </li>
        {% endfor %}
    </ul>
    <button type="submit" name="add_requirement"><a href="{% url 'menu_form' %}?menu_item_id={{ menu_item.id }}">Добавить требование к рецепту</a></button><br>
    <br>
    <button type="submit"><a href="{% url 'menu' %}">Go back to Menu</a></button>
{% endblock %}
