.form {
    max-width: 250px; /* Максимальная ширина формы */
    padding: 45px; /* Внутренний отступ */
    background-color: #f9f9f9; /* Цвет фона */
    border-radius: 35px; /* Скругление углов */
    box-shadow: 10px 10px 15px 15px rgba(0, 10, 0, 0.1);
    margin: 0 auto; /* Центрирование по горизонтали */
    text-align: center; /* Центрирование текста */
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px; /* Добавляем немного отступа снизу для заголовка */
}

.form-group {
    margin-bottom: 20px; /* Отступ снизу между элементами формы */
}

.form-group label {
    display: block; /* Делаем метки блочными элементами для правильного отображения */
    margin-bottom: 5px; /* Отступ снизу для меток */
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.P {
    color: #000; /* Цвет текста ссылки */
    text-decoration: none; /* Убираем подчеркивание */
    text-align: center; /* Выравнивание по центру */
    margin-bottom: 15px; /* Отступ снизу */
    margin-left: 25px;
}
p a {
    color: #007bff; /* Цвет ссылки */
}

.login-button{
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 50px;
    display: block; /* Сделаем кнопку блочным элементом, чтобы установить ширину на 100% */
}
