/* Стилизация формы */
.form {
    max-width: 350px; /* Максимальная ширина формы */
    padding: 45px; /* Внутренний отступ */
    background-color: #f9f9f9; /* Цвет фона */
    border-radius: 35px; /* Скругление углов */
    box-shadow: 10px 10px 15px 15px rgba(0, 10, 0, 0.1);
    margin: 0 auto; /* Центрирование по горизонтали */
    text-align: center; /* Центрирование текста */
}

/* Стилизация заголовка */
h2 {
    text-align: center; /* Выравнивание по центру */
    margin-bottom: 15px; /* Отступ снизу */
    margin-left: -26px;
}

/* Стилизация полей ввода */
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
    width: 100%; /* Ширина поля ввода */
    padding: 10px; /* Внутренний отступ */
    margin-bottom: 0px; /* Отступ снизу */
    border: 1px solid #ccc; /* Граница */
    border-radius: 5px; /* Скругление углов */
    box-sizing: border-box; /* Учитываем padding и border в общей ширине */
    margin-left: 5px;
}

/* Стилизация текста с инструкциями */
.form label {
    margin-left: 25px;
    font-weight: bold; /* Жирный шрифт */
    margin-bottom: 6px; /* Отступ снизу */
}

/* Стилизация ссылки для входа */
.form p {
    margin-top: 20px; /* Отступ сверху */
}

.signup-button{
    margin-right: 1234125px;
}

/* Стилизация ссылки для входа */
.P {
    color: #000; /* Цвет текста ссылки */
    text-decoration: none; /* Убираем подчеркивание */
    text-align: center; /* Выравнивание по центру */
    margin-bottom: 15px; /* Отступ снизу */
    margin-left: 25px;
}
p a {
    color: #007bff; /* Цвет ссылки */
}