* {
    font-family: Arial, sans-serif;
    margin-right: 20px;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center; /* Центрируем контент по вертикали */
    min-height: 80vh;
    background-color: #f0f0f0;
}

button[type="submit"],
.delete_button{
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-left: 58px;
    display: block; /* Сделаем кнопку блочным элементом, чтобы установить ширину на 100% */
}

button:hover {
    background-color: #0056b3;
    outline: none;
}

button a {
    text-decoration: none;
    color: inherit;
}

button a:hover,
button a:visited {
    color: inherit;
}

.logged-in-user {
    position: absolute;
    top: 0;
    right: 0;
}

.go_to_homepage {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* Позиционируем абсолютно */
    top: 85px; /* Отступ сверху */
    right: 35px; /* Отступ справа */
    width: auto;
}

.profile_button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* Позиционируем абсолютно */
    top: 45px; /* Отступ сверху */
    right: 125px; /* Отступ справа */
    width: auto;
}

.logout-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed; /* Позиционируем кнопку фиксированно */
    top: 45px; /* Отступ сверху */
    right: 0px; /* Отступ справа */
    width: 120px !important; /* Фиксированная ширина кнопки */
}

.cancel_button{
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: -25px;
    margin-left: 58px;
    display: block; /* Сделаем кнопку блочным элементом, чтобы установить ширину на 100% */
}

.delete_button{
    width: 48%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: -25px;
    margin-left: 58px;
    display: block; /* Сделаем кнопку блочным элементом, чтобы установить ширину на 100% */
}

h2 {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 {
    margin-top: 20px;
}

form {
    margin-top: 10px;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

select {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #fff;
    color: #495057;
}

.inventory-title {
    margin-top: 30px; /* Отступ сверху */
    margin-bottom: -25px; /* Отступ снизу */
}

.welcome{
    margin-bottom: -25px;
}

.h2-snack{
    margin-bottom: -25px;
    margin-left: 45px;
}