* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center; /* Центрируем контент по вертикали */
    min-height: 100vh;
    background-color: #f0f0f0;
}

button[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-left: 58px;
    display: block; /* Сделаем кнопку блочным элементом, чтобы установить ширину на 100% */
}

button:hover {
    background-color: #0056b3;
    outline: none;
}

button a {
    text-decoration: none;
    color: inherit;
}

button a:hover,
button a:visited {
    color: inherit;
}
